
.About {
  position: relative;
  text-align: center;
  color: black;
}

.Comparison {
  position: relative;
  text-align: center;
  color: black;
}

/* Text underneath comparison graphs */
.caption {
  position: relative;
  text-align: center;
  background: white;
  color: black;
}

.Datasource {
  position: relative;
  text-align: center;
  color: black;
}

.dropdown-divider {
  background: grey;
}

/* Container holding the image and the text used on about page --- home page can be simplified to remove container class */
/* .container {
  position: relative;
  text-align: center;
  color: black;
} */

/* About page text */
.about-text-block {
  position: absolute;
  top: 20%;
  left: 20%;
  /* transform: translate(-50%, -50%); */
  background-color: whitesmoke; opacity:0.5;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
}

/* Data page text */
.data-text-block {
  position: absolute;
  top: 20%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
  background-color: whitesmoke; opacity:0.5;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
}

.imageWrapper {
  opacity: 1;
}

/* Visualizations page text */
.visual-text-block {
  position: absolute;
  top: 20%;
  left: 5%;
  /* transform: translate(-50%, -50%); */
  background-color: whitesmoke; opacity:0.5;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 
.nav-item {
  position: absolute;
  margin-top: 80px;
  bottom: 8px;
  left: 16px;
  color: black;
  height: 400px;
  padding: 20px;
}

.navbar-brand {
  background: deepskyblue;
}

.dropdown-item {
  color: black;
}

.dropdown-menu {
  color: black;
}

.navbar-toggler {
  color: #fff;
} */

/* .navbarSupportedContent {
  color: #fff;
} */

/* Top left text
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  right: 16px;
  bottom: 8px;
} */