
.About {
  position: relative;
  text-align: center;
  color: black;
}

/* Australia page text */
.about-text-block {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  /* transform: translate(-50%, -50%); */
  background-color: whitesmoke; opacity:0.8;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
}

/* VicPhotos page image */
.imgLink { border: none; background: none; }
.imgLink img
{
  height: 15rem;
}
.imgLink:active img, .imgLink:focus img
{
  height: 50rem;
}
/* .imgLink:active img, .imgLink:focus img
{
  height: 15rem;
} */